{{#each entries}}
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title d-flex justify-content-between align-items-center">
            {{title}} <a href="/entries/edit/{{_id}}"><span class="">edit</span></a>
        </h3>
        <h5>{{ userName }}</h5>
        <h6>{{ date }}</h6>
    </div>
    <div class="card-body">
        <p>
            {{content}}
        </p>
        <form action="/entries/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
        </form>
    </div>
</div>
{{/each}}